@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  color: #282c3f;
  font-family: 'Poppins', sans-serif;
}
a{
  color: #282c3f;
}
a:hover{
  color: rgb(245, 103, 9);
}
/*navigation-starts*/
nav{
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #fff;
  padding: 0 20px;
  display: flex;
}
.nav-items-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  gap: 0.5rem;
  padding: 20px ;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 14px;
}
.logo{
  height: 49px;
}
.nav-items{
  padding-top: 10px;
  text-underline-offset: 0.5rem;
}
.nav-items-1{
  padding-top: 10px;
}
.nav-items-1 a{
  text-decoration: none;
  color: rgb(135, 133, 133);
}
.nav-items-1 a:hover{
  color: rgb(173, 169, 169);
}
.arrow-down{
  height: 22px;
}
.nav-items-right{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  gap: 3.5rem;
  padding: 20px ;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 16px;
}
.nav-items-2{
  padding-top: 10px;
}
.nav-items-2 a{
  text-decoration: none;
}
.nav-items-right-container{
  display: flex;
  gap: 0.5rem;
}
.image{
  height: 18px;
  padding-top: 5px;
}
/*navigation ends*/
/*body-starts*/
.body-container{
  
  background: #fff;
}
.body-title{
  color: black;
  padding-top: 110px;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 22px;
}
div.container-1 {
  max-width: 1100px;
  margin: 0 auto;
  overflow: scroll;
  white-space: nowrap;
  scroll-behavior: smooth;
}

div.container-1 img {
  padding: 10px;
  padding-top: 15px;
}
.div.container-1 img::-webkit-scrollbar{
  display: none;
}
.body-title-2{
  color: black;
  padding-top: 15px;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 22px;
}
.body-button{
  display: flex;
  gap: 1.5rem;
  max-width: 1080px;
  margin: 0 auto;
  padding: 10px;
}
.button-style{
  justify-content: center;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  padding: 9px 12px;
  width: max-content;
  gap: 8px;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
  transition: all 100ms ease-in 0s;
}






