*{
  padding: 0;
  margin: 0;
}
body{
  height: 100%;
  color: #282c3f;
  /*padding: 0 20px;
  max-width: 1250px;
  margin: 0 auto;*/
  font-family: sans-serif;
}
nav{
  box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #fff;
  padding: 0 20px;
}
.nav-items-left{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  gap: 0.5rem;
}
.logo{
  height: 49px;
}


